
:root {
    --text-accent-color: #F29F67;
    --text-card-color: #1F1F1F;
    --low-em-color: #999;
    --accent-button: #333;
    --text-color: #000000;
    --separator-color: #DEE2E6;
    --card-boarder-color: #FFFFEF;
    --main-bg-color: #F4F5F7;
    --card-bg-color: #FFFFFF;
    --shadow-color: #888;
    --allok-color: #4DA761;
    --warning-color: #E0B50F;
    --error-color: #F95F53;
    --action-color: #0D6EFD;
    --text-size: 18px;
    --margin: 32px;
    --gutter: 8px;
    --media-gutter: 0px;
    --padding: 4px;
    --border-radius: 4px;
    --popover-space: 20px;
    --popover-padding: 10px;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin-right: var(--margin);
    margin-left: var(--margin);
    font-size: var(--text-size);
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    margin: 0;
    padding: var(--padding);
}

h3 {
    font-size: 1.2em;
    margin: 0;
}

h3.error-message {
    font-size: 1.8em;
    color: var(--error-color);
}

p {
    display: inline;
}

ul {
    list-style-type: none;
    text-align: left;
}

ul li {
    padding: var(--padding);
    font-weight: 400;
}

li p {
    font-weight: 400;
    color: var(--low-em-color);
}

.topbar {
    padding: var(--padding);
    text-align: right;
}

.topbar img {
    height: 2em;
}

.topbar p.user {
    padding-right: var(--padding);
}

.topbar p {
    margin-top: 0;
    font-size: 1em;
}

.maincontent {
    padding-left: var(--media-gutter);
}

.actionbutton {
    border: 1px solid var(--card-boarder-color);
    background-color: var(--card-bg-color);
    margin-top: var(--gutter);
    margin-bottom: var(--media-gutter);
    margin-left: var(--gutter);
    margin-right: var(--media-gutter);
    padding: var(--padding);
    text-align: center;
    border-radius: var(--border-radius);
    filter: drop-shadow(var(--shadow-color) 0.25rem 0.25rem 0.25rem);
}

.actionbutton:hover {
    cursor: pointer;
}

.navbar {
    margin-top: var(--media-gutter);
    border-top: 1px solid var(--low-em-color);
    border-bottom: 1px solid var(--low-em-color);
    padding-left: var(--media-gutter);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.navbutton {
    border: 1px solid var(--card-boarder-color);
    background-color: var(--card-bg-color);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    margin-left: var(--gutter);
    margin-right: var(--media-gutter);
    padding: var(--padding);
    text-align: center;
    border-radius: var(--border-radius);
    filter: drop-shadow(var(--shadow-color) 0.25rem 0.25rem 0.25rem);
}

.navbutton a {
    text-decoration: none;
    color: var(--text-color);
}

.navicon .material-symbols-outlined {
    font-size: 2em;
}

.uniform {
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    margin-left: var(--gutter);
    margin-right: var(--media-gutter);
    padding: var(--padding);
    display: flex;
    flex-direction: row;
}

.uniform .card {
    font-size: calc(var(--text-size) * 3);
    color: var(--text-card-color);
    border: 1px solid var(--text-card-color);
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin: var(--padding);
    display: flex;
    flex-direction: column;
}

.uniform .card .number {
    text-align: center;
    padding: var(--padding);
    font-size: calc(var(--text-size) * 3);
}

.uniform .attributes {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.uniform .attributes .detail {
    font-size: calc(var(--text-size) * 1.1);
    color: var(--text-card-color);
    border: 1px solid var(--text-card-color);
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin: var(--padding)
}

.maincontent > h2 {
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    margin-left: var(--gutter);
    margin-right: var(--media-gutter);
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.form-group button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.form-group select {
    font-size: 1.2em;
}

.form-group label i {
    font-size: .75em;
}

.form-group p {
    font-size: .75em;
    color: var(--low-em-color);
}

.lowemphasis {
    color: var(--low-em-color);
}

.activitylog {
    padding: var(--padding);
    margin: var(--padding);
}

.activitylog .logrow {
    border-bottom: 1px solid var(--low-em-color);
    margin-bottom: var(--padding);
}
.activitylog .logrow span {
    display: inline-block;
    width: 8em;
    margin: var(--padding);
}
.activitylog .logrow span.datetime {
    width: 15em;
}

button.action:hover {
    background-color: var(--action-color);
}

p.top-message {
    font-size: calc(var(--text-size) * 0.8);
    margin-left: var(--padding);
    margin-bottom: 0;
    text-align: left;
}

@media screen and (min-width: 800px) {
    :root {
        --media-gutter: 32px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --media-gutter: 0;
        --gutter: 8px;
        --padding: 1px;
    }
}